<style>
  body {
    padding: 0;
    margin: 0;
    font-family: 'Allerta Stencil', sans-serif;
  }
  button {
    font-family: 'Allerta Stencil', sans-serif;
  }
</style>
<style>
  re-game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
  }
  re-game.spy {
    background-color: black;
    color: white;
  }

  re-player-list {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
  }
</style>
<style>
  re-dots-and-number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  re-dots-and-number .results {
    display: flex;
    font-size: 8em;
    font-family: monospace;
  }
</style>
<style>
  re-mission-results {
    display: inline-flex;
    font-size: 4em;
  }
  re-mission-results .result {
    opacity: 0;
    animation: fadeIn ease 2s;
    animation-fill-mode: forwards;
  }
  re-mission-results .result:nth-child(2) {
    animation-delay: 2s;
  }
  re-mission-results .result:nth-child(3) {
    animation-delay: 4s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
</style>
<style>
  re-team-pick {
    display: flex;
    flex-direction: column;
  }
  .recruits {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .recruit {
    font-size: 2em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 2px solid white;
  }
  .recruit.selected {
    background-color: green;
    color: white;
  }
</style>
<style>
  button.submit {
    display: block;
    font-size: 2em;
    padding: 2em;
    border-radius: 1em;
    background-color: teal;
    border: 2px solid white;
    color: white;
  }
  button.submit:active {
    background-color: darkslategray;
  }
  button.submit:disabled {
    background-color: darkslategray;
    color: grey;
  }
</style>
<style>
  i {
    width: 50px;
    height: 50px;
    background-size: contain;
  }

  .status {
    font-size: 2em;
  }

  .status.thinking::before {
    content: '🤔';
  }

  .status.leader::before {
    content: '🎖️';
  }

  .status.member::before {
    content: '👥';
  }

  .status.vote {
    display: none;
  }

  .status.vote.nay, .status.vote.yay {
    display: inherit;
  }

  .status.vote.yay::before {
    content: '👍';
  }

  .status.vote.nay::before {
    content: '👎';
  }
</style>
<style>
  button.vote {
    font-size: 2em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
  }
  button.vote.yay {
    background-color: green;
  }
  button.vote.nay {
    background-color: red;
  }
</style>
<style>
  re-player .card {
    background-color: white;
    border: 3px solid black;
    border-radius: 1em;
    color: black;
    display: inline-flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-inline-end: 1em;
  }

  re-player .card.me {
    border-color: teal;
  }

  re-player .card.spy {
    filter: invert(1);
  }
</style>

<bgio-debug></bgio-debug>
<div ng-if="!$ctrl.ready">
  No game
</div>
<div ng-if="$ctrl.gameover">
  {{ $ctrl.gameover.winner }} wins
</div>
<re-game ng-if="$ctrl.ready && !$ctrl.gameover" ng-class="$ctrl.faction">
  <re-dots-and-number></re-dots-and-number>
  <re-mission-results></re-mission-results>
  <re-play-area ng-switch on="$ctrl.currentStage">
    <re-team-pick ng-switch-when="teamProposal"></re-team-pick>
    <re-vote-team ng-switch-when="teamVote"></re-vote-team>
    <re-review-team ng-switch-when="teamReview"></re-review-team>
    <re-vote-mission ng-switch-when="mission"></re-vote-mission>
    <re-review-mission ng-switch-when="missionReview"></re-review-mission>
  </re-play-area>
  <re-player-list>
    <re-player ng-repeat="i in $ctrl.playerIds" player-id="i"></re-player>
  </re-player-list>
</re-game>
